:root {
  --color-Orange: hsl(25, 97%, 53%);
  --color-White: hsl(0, 0%, 100%);
  --color-light-grey: hsl(217, 12%, 63%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}
/* Css Reset Start  */
* {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
button {
  cursor: pointer;
  border: none;
}
/* Css Reset End  */
body {
  font-size: 1.5rem;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  color: var(--color-White);
  overflow: hidden;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--very-dark-blue);
}
.card {
  overflow: hidden;
  display: flex;
  gap: 3rem;
  padding: 2.6rem 1.8rem;
  background-color: #1c232d;
  border-radius: 1.2rem;
  max-width: 35%;
  @media (max-width: 950px) {
    max-width: 60%;
  }
  @media (max-width: 500px) {
    max-width: 90%;
  }
}
.card__info-start {
  flex: 1 0 100%;
  transition: 0.3s ease;
}
.submitted {
  margin-left: -110%;
}
.rating-star {
  background-color: #262f38;
  padding: 1.2rem 2rem;
  border-radius: 50%;
}
.card--heading {
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1.2rem;
}
.card--text {
  margin-bottom: 1.6rem;
  line-height: 2.2rem;
  color: var(--color-light-grey);
}
.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rating__num {
  font-weight: bold;
  background-color: #262f38;
  color: #99a2ab;
  padding: 1.2rem 2rem;
  border-radius: 50%;
  transition: 0.3s ease;
  &:hover {
    color: #36393e;
    background-color: #fffffd;
  }
  &.active {
    color: #36393e;
    background-color: #fc7615;
  }
}
.warning {
  color: red;
  margin-top: 1.2rem;
  text-align: center;
}
.cta-btn {
  cursor: pointer;
  margin-top: 2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 2rem;
  width: 100%;
  background-color: var(--color-Orange);
  transition: 0.3s ease;
  &:hover {
    background-color: #ffffff;
  }
}
.card__info-thanks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1 0 100%;
}
.card--subtext {
  background-color: #262f38;
  color: var(--color-Orange);
  padding: 1.2rem 2rem;
  margin-top: 2rem;
  border-radius: 30%;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
